<header class="header text-white py-4 position-relative">
  <div class="container d-flex justify-content-between align-items-center">
    <h1 class="logo">Marissa <span class="cat-paw">🐾</span></h1>
    <nav>
      <ul class="nav">
        <li class="nav-item"><a class="nav-link header-link" href="#sobre-mi">Sobre Mí</a></li>
        <li class="nav-item"><a class="nav-link header-link" href="#experiencia">Experiencia</a></li>
        <li class="nav-item"><a class="nav-link header-link" href="#portafolio">Portafolio</a></li>
        <li class="nav-item"><a class="nav-link header-link" href="#contacto">Contacto</a></li>
      </ul>
    </nav>
    <button id="toggleMode" class="btn btn-light btn-toggle-mode ms-3" title="Cambiar modo claro/oscuro">
      <span id="toggleIcon" class="bi bi-moon"></span>
    </button>
  </div>
</header> 